.singleBlog {
    height: 420px;
    width: 250px;
    border: 2px solid rgb(34, 0, 255);

}
.singleBlog--body {
    padding: 1rem;
    background-color: rgb(142, 165, 42);
    height: auto;
    /* width: 80%; */
    width: 250px;
    border: 1px solid rgb(0, 255, 51);



}

/* .singleBlog--image { */
    /* height: 50%;
    width: 100%; */
    /* height: auto;
    width: auto; */
    /* display:grid;
    justify-content: center;
    overflow:hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 3px solid rgb(30, 186, 210);
    margin-left: 40px; */
/* }  */

.singleBlog--image > img {
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: auto;
    width: 80%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 1s, filter 2s ease-in-out;
    border: 2px solid rgb(247, 23, 203);
    margin-left: 25px; 


    /* filter: blur(1px); 
    transform: scale(1.3); */
    
}

.singleBlog:hover > .singleBlog--image > img {
    filter: grayscale(0);
    transform: scale(1.1);
    
}



.singleBlog--body p {
    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0.65rem;
    background-color: rgb(44, 13, 13);

    
    
}

.singleBlog--body h3 {
    font-family: var(--primaryFont);
    margin-bottom: 0.55rem;
    font-size: 19px;
    line-height: 115%;
    background-color: rgb(233, 147, 147);

}

.singleBlog--body h6 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
    line-height: 139%;
    font-weight: 500;
    opacity: 0.9;
    background-color: brown;

    
}



@media (min-width: 992px) and (max-width: 1380px) {
    .singleBlog {
        height: 430px;
    }
}


@media screen and (max-width: 992px) {
    .singleBlog {
        height: 450px;
        background-color: rgb(202, 240, 171);
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: baseline; */
    }
}

@media screen and (max-width: 800px) {
    .singleBlog {
        height: 450px;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 700px) {
    .singleBlog {
        height: 450px;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 600px) {
    .singleBlog {
        height: 450px;
        width: 300px;
        margin: 1rem 0;
    }
    .singleBlog--image > img {
        filter: blur(0);
    }
}

@media screen and (max-width: 320px) {
    .singleBlog {
        transform: scale(0.9);
    }

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}


@media only screen and (device-width: 768px) {

}